- unless user_signed_in?
  .jumbotron
    %h1 Your favorite Movies Reviewed
    %p Tote bag meditation ennui distillery ugh vice, selvage migas. Semiotics schlitz poutine neutra selvage, forage normcore squid sriracha master cleanse fap photo booth.
    %p= link_to "Sign up to write a review", new_user_registration_path, class: 'btn btn-primary btn-lg'
.row
  - @movies.each do |movie|
    .col-sm-6.col-md-3
      .thumbnail
        = link_to (image_tag movie.image.url, class: 'image'), movie
